version: "2"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - database    
    links:
      - database
    ports:
      - "5000:5000"
  web-tests:
    build:
      context: .
      dockerfile: Dockerfile.tests
    depends_on:
      - database
      - web
    links:
      - database
      - web
  database:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: apiuser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test_messages
    expose:
      - 5432
      
